NODE_ENV="development"
DATABASE_URL="postgresql://odonto_dev:troque-a-senha@127.0.0.1:5432/odonto_dev?schema=public"
SESSION_SECRET="gere-uma-chave-aleatoria-com-pelo-menos-32-caracteres"
SEED_ADMIN_NAME="Administrador"
SEED_ADMIN_EMAIL="admin@clinica.local"
SEED_ADMIN_PASSWORD="troque-esta-senha"

POSTGRES_DB="odonto_dev"
POSTGRES_USER="odonto_dev"
POSTGRES_PASSWORD="troque-a-senha"
